//
// Layout
//

// Float container
%float-container {
    &::after {
        clear: both;
        content: "";
        display: block;
    }
}

// Page section wrapper
body > div > .wrap {
    @extend %float-container;

    margin: 0 auto;
    max-width: 60rem;
    padding: 0 1em;
}
